#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.video-container {
    position: relative; /* Establishes a positioning context for the video */
    width: 100%;
    height: 100vh; /* Makes the container full viewport height */
    overflow: hidden;
}
